[General]
logging = WARNING           ; Set logging level (INFO, WARNING, ERROR, CRITICAL). INFO should only be used for troubleshooting as it can fill up logs very quickly. 
logfile =                   ; If specified, log to this file
interval_always = 60        ; Interval in seconds between GPS reports always
interval_move = 10          ; Interval in seconds between GPS reports when moving
interval_track = 2          ; Interval in seconds between GPS reports when move & track changes
dist_move = 200             ; Distance to detect movement (feet)
chg_speed = 5               ; Change in speed to report immediately (mph)
chg_track = 5               ; Change in track to report immediately (degrees)
gps_timeout = 10            ; Timeout in seconds between GPS reports from the GPS device before an error is reported
ignore_speed = 3            ; Ignore speeds below this value (mph)

[MQTT]
enabled = true              ; Enable MQTT support
broker = 127.0.0.1          ; IP address of your MQTT broker
port = 1883                 ; Port of your MQTT broker
username = username         ; Username for your MQTT broker
password = password           ; Password for your MQTT broker (optional)  
topic_prefix = gps          ; MQTT topic prefix
retain = true               ; Retain MQTT messages

[Traccar]
enabled = true                  	; Enable Traccar support
url = http://demo.traccar.org:5055	; URL of your Traccar server (OsmAnd protocol is used for Traccar server, default port is 5055)
id = 101                		    ; ID of your Traccar device
